<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
  <a href="login"><i class="fa fa-fw fa-user"></i> Login</a>
</div>

<p style="position: fixed; bottom: 0; width:100%; text-align: center;border-color: rgb(2, 133, 247);">© Copyright, HCL</p>
<!-- <h1>Demo project!</h1>
<h2>This is a**{{title}}**for practice</h2>
<br>
<button (click)="btnClick()" [disabled]="isDisabled">Click Me</button>
<br>
<br>
<input type="text" [(ngModel)]="dynamicTxt" width="50">
<br>
<h2>Demo project created ** {{dynamicTxt}} **</h2>
<br>
<label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
<br>
<br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <br> -->
 
<router-outlet></router-outlet> 
