<h3>User Information</h3>
<div class="container">
    <table>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
        <tbody>
        <!-- <tr *ngFor="let user of users"> -->


































            
          <tr>
            <td>Abirami</td>
            <td>Vaiyapuri</td>
            <td>Female</td>
            <td>abi@gmail.com</td>
              <!-- <td>{{users.FirstName}}</td>
            <td>{{users.LastName}}</td>
            <td>{{users.Gender}}</td>
            <td>{{users.Email}}</td> -->
        </tr>
        <tr>
            <td>Kavi</td>
            <td>Babu</td>
            <td>Female</td>
            <td>kavi@gmail.com</td>
        </tr>
        <tr>
            <td>Gokul</td>
            <td>Selvam</td>
            <td>Male</td>
            <td>gokul@gmail.com</td>
        </tr>
        <tr>
            <td>Arun</td>
            <td>Vasu</td>
            <td>Male</td>
            <td>arun@gmail.com</td>
        </tr>
        </tbody>
    </table>
</div>