 <p>Enter your credentials</p>
<div>
    <label for="uname"><b>Username : </b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
<br>
<br>
    <label for="password"><b>Password : </b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <br>
      <br>
    <form><button (click)="login()">login</button></form>

 <!-- <button (click)="LClicked()">Login</button> --->
</div>
